.tcbox {
	margin-top: 6px;
}

.tcbox .listbox {
	background: #fff;
	display: inline-block;
	height: 30px;
	padding: 0px 5px 0px 10px;
	margin-right: 10px;
}

.tcbox .listbox .ts {
	font: normal 14px/ 22px 微软雅黑;
	color: #999;
}

.tcbox .listbox a {
	font: normal 14px/ 30px 微软雅黑;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #666;
}

.tcbox .listbox .closespan {
	background: url(../btn.jpg) no-repeat left -166px;
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
	margin: 3px 0px 0px 5px;
}

.tcbox .listbtn1,.tcbox .listbtn2,.tcbox .listbtn3 {
	background: url(../btn.jpg) no-repeat;
	height: 30px;
	width: 87px;
	border: none;
	cursor: pointer;
	vertical-align: bottom;
}

.tcbox .listbtn1 {
	background-position: left -126px;
}

.tcbox .listbtn2 {
	background-position: -90px -126px;
}

.tcbox .listbtn3 {
	background-position: -181px -126px;
}